@using BlogModels.UiModel
@model Tag_Model
@{
    ViewData["Title"] = "首页";
}
@section Styles{
    <link rel="stylesheet" href="/css/index.all.css" />
}
@section Scripts{
    <script src="/js/index.js"></script>
    <script>
        $(function(){
            //Index.init();
        })
    </script>
}
<div style="margin:20px auto;line-height:50px;">
    @{
        foreach(var tag in Model.Tags){
            <span style="margin:0px 10px;"> <a href="/blog/Tag/post/@(tag.Id)"> @(tag.TagName)(@(tag.PostNum)) </a> </span>
        }
    }
</div>