*{font-family: Helvetica,Verdana,Arial,sans-serif;}
.nav{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
}
.nav .container  a h2{
    font-size: 32px;
}
.nav .container  ul{
    text-align: center;
}
.nav .container  ul li{
    height: 40px;
    line-height: 40px;
}
.footer{color: #bbb;text-align: center;}