<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OdinSam的博客 - @ViewData["Title"]</title>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <!--    page header nav start   -->
    <nav class="nav">
        <!--    page header nav container start   -->
        <div class="container">
            <!--    mobile menu start   -->
            <label for="menu-toggle" class="menu-icon">
                <!--div data-icon="ei-navicon"></div-->
                <svg viewbox="0 0 18 15">
                    <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"></path>
                    <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"></path>
                    <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"></path>
                </svg>
            </label>
            <!--    mobile menu end   -->

            <!--    header logo start   -->
            <a href="/index.html">
                <h2 class="blogtitle nav-title"><!--blog title--></h2>
            </a>
            <!--    header logo end   -->

            <!--    header navigate  menu start   -->
            <ul>
                <li><a href="/tale/"> <i class="menu-item-icon fa fa-fw fa-home"></i>首页</a></li>
                <li><a href="/tale/"> <i class="menu-item-icon fa fa-fw fa-th"></i>分类</a></li>
                <li><a href="/tale/"> <i class="menu-item-icon fa fa-fw fa-archive"></i>归档</a></li>
                <li><a href="/tale/"> <i class="menu-item-icon fa fa-fw fa-tags"></i>标签</a></li>
                <li><a href="/tale/"> <i class="menu-item-icon fa fa-fw fa-user"></i>关于</a></li>
                <li><a href="/tale/"> <i class="menu-item-icon fa fa-search fa-fw"></i>搜索</a></li>
            </ul>
            <!--    header navigate menu end   -->


        </div>
        <!--    page header nav container end   -->

    </nav>
    <!--    page header nav end   -->

    <!--    page main start -->
    <div class="main">
        @RenderBody()
    </div>
    <!--    page main end -->

    <!--    page footer start -->
    <div class="footer">
        <div class="copyright">
            <span class="uvpv">
                <span class="site-uv"><i class="fa fa-user"></i> : <span class="busuanzi-value" id="busuanzi_value_site_uv"><!--blog uv--></span></span>
                <span class="site-pv"><i class="fa fa-eye"></i> : <span class="busuanzi-value" id="busuanzi_value_site_pv"><!--blog pv--></span></span>
            </span>
            © 2017 by OdinSam
        </div>
    </div>
    <!--    page footer end -->

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/dinjonya.plug.js"></script>
    <script src="/js/js.cookie.js"></script>
    <script src="/js/jquery.ajax.dinjonya.js"></script>
    <script src="/js/ajax.url.js"></script>
    <script src="/js/app.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(function(){
            App.init();
            App.setWebPUV("Index");
        })
    </script>
</body>
</html>
